*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    background: black;
    color: white;
}

html,
body{
    height: 100%;
    width: 100%;
}

input,button{
  padding: 10px;
  margin: 20px;
  background-color: beige;
  color: black;
  border-radius: 10px;
}