* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    /* background-color: lightgoldenrodyellow; */
    /* padding: 20px;    */
    background-image: url("https://i.pinimg.com/1200x/7b/0d/5a/7b0d5a12e50b79f7cc01d5aca7e14f15.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* NAVBAR */

.navbar {
    background-color: rgba(255, 176, 4, 0.246);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
}

.navbar .btn {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

/* TOP */

.topm {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.top {
    background-color: rgba(255, 229, 159, 0.443);
    border-radius: 30px;
    border: 2px dashed linen;
    height: 250px;
    margin-top: -50px;
}

h1 {
    padding-left: 20px;
    padding-top: 5px;
    /* background-color: unset; */
    border-radius: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-size: 40px;
}

form {
    width: fit-content;
    background-color: unset;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-bottom: 0px;
    margin: 10px;
    border-radius: 50px;
}

.input {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    background: white;
    border: 2px solid rgb(211, 211, 211);
    font-size: 25px;
    transition: 0.5s;
    outline: none;
    border-radius: 8px;
    color: black;
    padding: 2px;
    margin-top: 0px;
}

.input:hover {
    cursor: pointer;
    border-color: black;
}

.input:focus {
    border-color: black;
    box-shadow: 0 0 10px rgb(28, 44, 63);
}

.add {
    background-color: unset;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* padding-left: 1050px; */
}

.submit {
    background-color: rgb(250, 250, 237);
    padding: 2px;
    color: black;
    border-radius: 10px;
    width: 50px;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid black;

}

.submit:hover {
    cursor: pointer;
    background-color: green;
    color: black;
}

.submit:focus {
    border-color: white;
    box-shadow: 0 0 10px rgb(28, 44, 63);
}

.submit:hover svg {
    background-color: green;
    color: black;
}

.cancel {
    background-color: rgb(250, 250, 237);
    padding: 2px;
    color: black;
    border-radius: 10px;
    width: 50px;
    cursor: pointer;
    font-size: 1px;
    border: 2px solid black;
}

.cancel:hover {
    cursor: pointer;
    background-color: red;
    color: black;
}

.cancel:focus {
    border-color: white;
    box-shadow: 0 0 10px rgb(28, 44, 63);
}

.cancel:hover svg {
    background-color: red;
    color: black;
}

/* BOTTOM */

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: unset;
}

.custom-table {
    background-color: unset;
    width: 100%;
    padding: 4px;
    margin-top: 20px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.custom-table td,
th {
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 12px;
    border-left: none;
    border-right: none;
    text-align: center;
}

td:first-child,
th:first-child {
    border-left: 2px solid rgb(255, 255, 255);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

td:last-child,
th:last-child {
    border-right: 2px solid rgb(255, 255, 255);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.thead th {
    background-color: rgb(170, 197, 233);
    border-color: black;
}

.tbody td {
    background-color: rgba(137, 135, 135, 0.442);
    /* backdrop-filter: blur(20px); */
    border-color: black;
}

.editbtn {
    background-color: rgb(252, 252, 227);
    padding: 2px;
    color: black;
    border-radius: 10px;
    width: 60px;
    cursor: pointer;
    border: 2px solid black;
}

.editbtn:active {
    scale: 1.1;
}

.editbtn:hover {
    background-color: green;
}

.editbtn:focus {
    border-color: white;
    box-shadow: 0 0 10px rgb(28, 44, 63);
}

.editbtn:hover svg {
    background-color: green;
}

.usercancel:disabled {
    opacity: 0;
    cursor: not-allowed;
    pointer-events: none;
}

.usercancel {
    background-color: rgb(250, 250, 237);
    border: 2px solid black;
    border-radius: 8px;
    padding: 2px;
    width: 50px;
    margin-left: 30px;
    margin-right: -70px;
}

.usercancel:hover {
    background-color: red;
}

.usercancel:focus{
    border-color: white;
    box-shadow: 0 0 10px rgb(28, 44, 63);
}
.usercancel:hover svg {
    background-color: red;
}


.popup {
    height: 110px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: larger;
    position: fixed;
    margin-top: 15px;
    margin-left: 81%;
    word-spacing: 5px;
    background-color: rgba(173, 235, 246,0.95);
    color: rgb(0, 0, 0);
    padding: 15px 10px;
    width: fit-content;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.dbtn1 {
    background-color: rgb(123, 234, 254);
    color: black;
    height: 30px;
    width: 50px;
    border-radius: 20px;
    border: unset;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: medium;
}
.dbtn1:hover {
    background-color: green;
    color: black;
    border: unset;
}

.dbtn2 {
    background-color: rgb(123, 234, 254);
    color: black;
    height: 30px;
    width: 50px;
    border-radius: 20px;
    border: unset;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: medium;
}
.dbtn2:hover {
    background-color: red;
    color: black;
    border: unset;
}

.dbg {
    color: black;
    background-color: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.bottom {
    border-radius: 10px;
}